/*
Syntax error: Expected a color. Got: transparent
        on line 162 of D:/wamp/www/redmine-theme/stylesheets/boilerplate.scss

Backtrace:
D:/wamp/www/redmine-theme/stylesheets/boilerplate.scss:162
D:/download/compass.app/lib/ruby/compass_0.12/compass-0.12.alpha.3/lib/compass/sass_extensions/functions/gradient_support.rb:12:in `initialize'
D:/download/compass.app/lib/ruby/compass_0.12/compass-0.12.alpha.3/lib/compass/sass_extensions/functions/gradient_support.rb:236:in `color_stops'
org/jruby/RubyArray.java:2339:in `collect'
D:/download/compass.app/lib/ruby/compass_0.12/compass-0.12.alpha.3/lib/compass/sass_extensions/functions/gradient_support.rb:229:in `color_stops'
org/jruby/RubyKernel.java:2117:in `send'
D:/download/compass.app/lib/ruby/compass_0.12/compass-0.12.alpha.3/lib/compass/sass_extensions/functions/gradient_support.rb:285:in `linear_gradient'
org/jruby/RubyKernel.java:2117:in `send'
D:/download/compass.app/lib/ruby/compass_common/sass-3.2.8/lib/sass/../sass/script/funcall.rb:112:in `_perform'
D:/download/compass.app/lib/ruby/compass_common/sass-3.2.8/lib/sass/../sass/script/node.rb:40:in `perform'
D:/download/compass.app/lib/ruby/compass_common/sass-3.2.8/lib/sass/../sass/tree/visitors/perform.rb:298:in `visit_prop'
org/jruby/RubyKernel.java:2109:in `send'
D:/download/compass.app/lib/ruby/compass_common/sass-3.2.8/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
D:/download/compass.app/lib/ruby/compass_common/sass-3.2.8/lib/sass/../sass/tree/visitors/perform.rb:100:in `visit'
D:/download/compass.app/lib/ruby/compass_common/sass-3.2.8/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
org/jruby/RubyArray.java:2339:in `collect'
D:/download/compass.app/lib/ruby/compass_common/sass-3.2.8/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
D:/download/compass.app/lib/ruby/compass_common/sass-3.2.8/lib/sass/../sass/tree/visitors/perform.rb:109:in `visit_children'
D:/download/compass.app/lib/ruby/compass_common/sass-3.2.8/lib/sass/../sass/tree/visitors/perform.rb:121:in `with_environment'
D:/download/compass.app/lib/ruby/compass_common/sass-3.2.8/lib/sass/../sass/tree/visitors/perform.rb:108:in `visit_children'
D:/download/compass.app/lib/ruby/compass_common/sass-3.2.8/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
D:/download/compass.app/lib/ruby/compass_common/sass-3.2.8/lib/sass/../sass/tree/visitors/perform.rb:320:in `visit_rule'
org/jruby/RubyKernel.java:2109:in `send'
D:/download/compass.app/lib/ruby/compass_common/sass-3.2.8/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
D:/download/compass.app/lib/ruby/compass_common/sass-3.2.8/lib/sass/../sass/tree/visitors/perform.rb:100:in `visit'
D:/download/compass.app/lib/ruby/compass_common/sass-3.2.8/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
org/jruby/RubyArray.java:2339:in `collect'
D:/download/compass.app/lib/ruby/compass_common/sass-3.2.8/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
D:/download/compass.app/lib/ruby/compass_common/sass-3.2.8/lib/sass/../sass/tree/visitors/perform.rb:109:in `visit_children'
D:/download/compass.app/lib/ruby/compass_common/sass-3.2.8/lib/sass/../sass/tree/visitors/perform.rb:121:in `with_environment'
D:/download/compass.app/lib/ruby/compass_common/sass-3.2.8/lib/sass/../sass/tree/visitors/perform.rb:108:in `visit_children'
D:/download/compass.app/lib/ruby/compass_common/sass-3.2.8/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
D:/download/compass.app/lib/ruby/compass_common/sass-3.2.8/lib/sass/../sass/tree/visitors/perform.rb:128:in `visit_root'
org/jruby/RubyKernel.java:2109:in `send'
D:/download/compass.app/lib/ruby/compass_common/sass-3.2.8/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
D:/download/compass.app/lib/ruby/compass_common/sass-3.2.8/lib/sass/../sass/tree/visitors/perform.rb:100:in `visit'
org/jruby/RubyKernel.java:2109:in `send'
D:/download/compass.app/lib/ruby/compass_common/sass-3.2.8/lib/sass/../sass/tree/visitors/perform.rb:7:in `visit'
D:/download/compass.app/lib/ruby/compass_common/sass-3.2.8/lib/sass/../sass/tree/root_node.rb:20:in `render'
D:/download/compass.app/lib/ruby/compass_common/sass-3.2.8/lib/sass/../sass/engine.rb:315:in `_render'
D:/download/compass.app/lib/ruby/compass_common/sass-3.2.8/lib/sass/../sass/engine.rb:263:in `render'
D:/download/compass.app/lib/ruby/compass_common/sass-3.2.8/lib/sass/../sass/util.rb:400:in `silence_sass_warnings'
D:/download/compass.app/lib/ruby/compass_common/sass-3.2.8/lib/sass/../sass/engine.rb:263:in `render'
file:/D:/download/compass.app/compass-app.jar!/compass_patch.rb:60:in `compile'
D:/download/compass.app/lib/ruby/compass_0.12/compass-0.12.alpha.3/lib/compass/compiler.rb:125:in `timed'
file:/D:/download/compass.app/compass-app.jar!/compass_patch.rb:59:in `compile'
D:/download/compass.app/lib/ruby/compass_0.12/compass-0.12.alpha.3/lib/compass/logger.rb:45:in `red'
file:/D:/download/compass.app/compass-app.jar!/compass_patch.rb:58:in `compile'
D:/download/compass.app/lib/ruby/compass_0.12/compass-0.12.alpha.3/lib/compass/compiler.rb:117:in `compile_if_required'
D:/download/compass.app/lib/ruby/compass_0.12/compass-0.12.alpha.3/lib/compass/compiler.rb:102:in `run'
org/jruby/RubyArray.java:1620:in `each'
D:/download/compass.app/lib/ruby/compass_0.12/compass-0.12.alpha.3/lib/compass/compiler.rb:100:in `run'
D:/download/compass.app/lib/ruby/compass_0.12/compass-0.12.alpha.3/lib/compass/compiler.rb:125:in `timed'
D:/download/compass.app/lib/ruby/compass_0.12/compass-0.12.alpha.3/lib/compass/compiler.rb:99:in `run'
D:/download/compass.app/lib/ruby/compass_0.12/backport_from_0.13/lib/compass/watcher/compiler.rb:25:in `compile'
org/jruby/RubyKernel.java:2105:in `send'
(__FORWARDABLE__):3:in `compile'
D:/download/compass.app/lib/ruby/compass_0.12/backport_from_0.13/lib/compass/watcher/project_watcher.rb:92:in `sass_modified'
D:/download/compass.app/lib/ruby/compass_0.12/backport_from_0.13/lib/compass/watcher/project_watcher.rb:85:in `sass_callback'
org/jruby/RubyMethod.java:133:in `call'
org/jruby/RubyProc.java:270:in `call'
org/jruby/RubyProc.java:220:in `call'
D:/download/compass.app/lib/ruby/compass_0.12/backport_from_0.13/lib/compass/watcher/watch.rb:17:in `run_callback'
D:/download/compass.app/lib/ruby/compass_0.12/backport_from_0.13/lib/compass/watcher/project_watcher.rb:78:in `listen_callback'
org/jruby/RubyArray.java:1620:in `each'
D:/download/compass.app/lib/ruby/compass_0.12/backport_from_0.13/lib/compass/watcher/project_watcher.rb:77:in `listen_callback'
org/jruby/RubyArray.java:1620:in `each'
D:/download/compass.app/lib/ruby/compass_0.12/backport_from_0.13/lib/compass/watcher/project_watcher.rb:76:in `listen_callback'
org/jruby/RubyMethod.java:133:in `call'
org/jruby/RubyProc.java:270:in `call'
org/jruby/RubyProc.java:220:in `call'
D:/download/compass.app/lib/ruby/jruby/listen-0.7.3/lib/listen/listener.rb:212:in `on_change'
D:/download/compass.app/lib/ruby/jruby/listen-0.7.3/lib/listen/listener.rb:221:in `initialize_adapter'
org/jruby/RubyProc.java:270:in `call'
org/jruby/RubyProc.java:220:in `call'
D:/download/compass.app/lib/ruby/jruby/listen-0.7.3/lib/listen/adapters/polling.rb:56:in `poll'
D:/download/compass.app/lib/ruby/jruby/listen-0.7.3/lib/listen/adapters/polling.rb:32:in `start'
org/jruby/RubyProc.java:270:in `call'
org/jruby/RubyProc.java:224:in `call'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Expected a color. Got: transparent\A         on line 162 of D:/wamp/www/redmine-theme/stylesheets/boilerplate.scss"; }
