@media only screen and (max-width: 1024px) {
  body {
    background-position: -90px top;
  }

  #top-menu #loggedas {
    top: 60px;
    width: 105px;
  }

  #header {
    padding: 0;
    width: 99%;
  }
  #header h1 {
    color: #333;
    font-size: 20px;
    position: absolute;
    left: 146px;
    top: 0;
    width: auto;
  }
  #header h1 a {
    color: #555;
  }
  #header h1 a:hover {
    color: #333;
  }
  #header #quick-search {
    float: left;
    margin-top: 50px;
    position: static;
    top: auto;
    width: 115px;
  }
  #header input[type="text"] {
    width: 110px;
  }
  #header select {
    max-width: 180px;
    position: absolute;
    right: 0;
    top: 3px;
    z-index: 51px;
  }

  #main {
    margin-left: 160px;
    margin-top: 10px;
  }

  #main-menu {
    left: 0;
    position: absolute;
    top: 50px;
  }
  #main-menu ul {
    width: 131px;
  }
  #main-menu ul li a {
    font-size: 12px;
    padding: 7px 10px;
  }

  p.breadcrumb {
    top: 63px;
    z-index: 52px;
  }

  #footer {
    margin-left: 160px;
  }
}
